extends layout

block layout-content
  div.View
    h1.Banner Kubermatic
    div.Message
      div.Title
        h3 Airhockey
        h1 KubeGames
      span.Details start game
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!